<div class="container">
  <h1>User Skills and Levels</h1>

  <%# TODO: display the skills and proficiency levels for each user ... %>

  <table style="width: 600px; margin: 0 auto; text-align:left;">
    <tr style="border-bottom: 1px dotted black;">
      <th style="width:200px;">Name</th>
      <th style="width:200px;">Skill</th>
      <th style="width:20px;">Years</th>
      <th style="width:20px;">Formal?</th>
    </tr>
    <% @users.each do |user| %>
      <% user.proficiencies.each do |proficiency| %>
        <tr>
          <td><%= proficiency.user.name %></td>
          <td><%= proficiency.skill.name %> (<%= proficiency.skill.context %>)</td>
          <td><%= proficiency.experience %></td>
          <td><%= proficiency.formal %></td>
        </tr>
      <% end %>
    <% end %>
  </table>



</div>
